*{
    margin: 0%;
    padding: 0%;
}

.firstP{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://static.bluescreen.kz/6827ef8325430ca58a5885142c26cf18.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.navpart{
    flex: 1;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    


}

.navpart ul li{
    list-style:none ;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navpart ul li::after{
content: '';
width: 0%;
height: 2px;
background: #a1a09f;
display: block;
margin:auto;
transition: 0.5s;
}

.navpart ul li:hover::after{
    width: 100%;
}

.text1{
        width: 90%;
        color: #a1a09f;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
       
}
.text1 h1{
    font-size: 62px;

}.text1 p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: gold;

}
.btn1{
    display: inline-block;
    text-decoration: none;
    color: #a1a09f;
    border: 1px solid #a1a09f;
    padding: 12px 34px;
    font-size: 35px;
    background: transparent;
    position: relative;
    cursor:help;
}

html{
    scroll-behavior: smooth;
}
.btn1:hover{
    border: 1px rgb(213, 205, 205);
    background: #000000;
    transition: 1s;
}
        nav .fa{
            display: none;
        }

      
.partwo{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color:rgb(27, 26, 21);
    

}
h1{
    font-size: 36px;
    font-weight: 600;
    color: rgb(162, 164, 167);
}
p{
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.ini{
    color: #a1a09f;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.column{
    flex-basis: 31%;
    background: #888881;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    margin: 5px;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.column:hover{
    transform: translateY(-20px);
}
@media(max-width:700px){
    .row{
        flex-direction: column;

    }
    .text1{
        display: none;
    }
}
.parthree{
margin: auto;
text-align: center;
padding-top: 50px;
background-color: rgb(27,26, 21);
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://inbusiness.kz/uploads/2022-7/P6YMnHnL.jpg);
height: 900px;

}
.parthree p{
    color: #9b9b97;
}

.column1{
    text-align: right;
    flex-basis: 32%;

    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin-right: 90px;
}

.column2{
    text-align: left;
    position: absolute;
    margin-top: -630px;
    margin-left: 40px;
    
}
.column2 h3{
    color: #9b9b97;
    font-size: 30px;
}
.column2::after{
    content: '';
width: 0%;
height: 2px;
background: #a1a09f;
display: block;
margin:auto;
transition: 0.5s;
}

.column3{
    text-align: left;
    position: absolute;
    margin-top: -420px;
    margin-left: 40px;
    
}

.column3 h3{
    color: #9b9b97;
    font-size: 30px;

}
.column3::after{
    content: '';
width: 0%;
height: 2px;
background: #a1a09f;
display: block;
margin:auto;
transition: 0.5s;
}

.column4{
    text-align: left;
    position: absolute;
    margin-top: -200px;
    margin-left: 40px;
}

.column4 h3{
    color: #9b9b97;
    font-size: 30px;
}
.column4::after{
    content: '';
width: 0%;
height: 2px;
background: #a1a09f;
display: block;
margin:auto;
transition: 0.5s;
}
.column2:hover::after{
    width: 100%;
}
.column3:hover::after{
    width: 100%;
}
.column4:hover::after{
    width: 100%;
}

.partfour{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    background-color: rgb(27,26, 21);

}
.partfour p{
    color: #9b9b97;
}
 .photcol{
    flex-basis: 31%;
   
 }
 .photcol h3{
    color: #9b9b97;
 }
 .photcol p{
    color: #9b9b97;
 }




 .cta{
    margin: 100px auto;
;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://kz.kursiv.media/wp-content/uploads/2022/09/v-esentai-mall-otkroetsya-pervyj-v-sng-magazin-ispace-so-statusom-apple-premium-partner-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    text-align: center;
    padding: 100px 0;
 }
 
 .cta h1{
    color: #9b9b97;
    margin-bottom: 40px;
    padding: 0;
 }

 .lastp{
    width: 100%;
    text-align: center;
    padding: 30px 0;

 }

 .lastp h3{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    
 }
 @media only screen and (max-width:850px) {
    .row1{
        display: none;
    }
    
 }




 .text-warp{width:500px;margin:0 auto 0;-webkit-perspective:1200;}
.text{-webkit-transform-style:preserve-3d;position:relative;
  -webkit-transform-origin:center center;
-webkit-animation:wobble 5s ease-in-out infinite;
}
.text h1{font-size:100px;font-family:"helvetica neue";position:absolute;top:300px;color:#fff;
  -webkit-animation:color 10s ease-in-out infinite;
}
@-webkit-keyframes wobble{
  from,to{-webkit-transform:rotate3D(1,1,1,30deg);}
  25%{-webkit-transform:rotate3D(-1,1,-1,30deg);}
  50%{-webkit-transform:rotate3D(-1,-1,1,30deg);}
  75%{-webkit-transform:rotate3D(1,-1,-1,30deg);}
}
@-webkit-keyframes color{
  from,to{text-shadow:0 0 45px rgba(255,0,0,0.5);}
  25%{text-shadow:0 0 45px rgba(255,255,0,0.5);}
  50%{text-shadow:0 0 45px rgba(0,255,0,0.5);}
  75%{text-shadow:0 0 45px rgba(255,0,255,0.5);}
}
.text h1:nth-child(2){-webkit-transform:translateZ(5px);}
.text h1:nth-child(3){-webkit-transform:translateZ(10px);}
.text h1:nth-child(4){-webkit-transform:translateZ(15px);}
.text h1:nth-child(5){-webkit-transform:translateZ(20px);}
.text h1:nth-child(6){-webkit-transform:translateZ(25px);}
.text h1:nth-child(7){-webkit-transform:translateZ(30px);}
.text h1:nth-child(8){-webkit-transform:translateZ(35px);}
.text h1:nth-child(9){-webkit-transform:translateZ(40px);}