*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navpart{
   background-color: rgb(75, 65, 82);
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  
  
  }
  .navpart ul li{
    list-style:none ;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .navpart ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #a1a09f;
  display: block;
  margin:auto;
  transition: 0.5s;
  }
  
  .navpart ul li:hover::after{
    width: 100%;
  }
.detail1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(75, 65, 82);
    

}
.page1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text1{
    position: relative;
    font-weight: 900;
    max-width: 600px;

}
.text1 h2{
    color: rgb(14, 9, 9);
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    
}
.text1 h2 span{
    font-size: 1.5em;
}
.text1 p{
    color:rgb(31, 25, 25);
}
.text1 a{
display: inline-block;
margin-top: 20px;
padding: 8px 20px;
background: #fff;
color:#111;
border-radius: 40px;
font-weight: 500;
letter-spacing: 1px;
text-decoration: none;
text-transform: uppercase;
}

.box1{
   width: 600px;
   display: flex;
   padding-right: 50px;
   margin-top: 50px;
   justify-content: flex-end;


}
.box1 img{
    max-width: 300px;

}
.click{
    position:absolute;
    left: 50%;
    bottom:20px;
    transform:translateX(-50%) ;
    display: flex;
}
.click li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.click li:hover{
    transform: translateY(-15px);

}

.click li img{
    max-width: 100px;
}
@media(max-width:850px){
   
    .navpart ul li{
        display:block;
    }
   
    .navpart{
       
        background:rgb(41, 50,65);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
      
        font-size: 21px;

    }
     
        .navpart  ul{
                padding: 130px;
                
        }
    .detail1{
        padding: 40px;
        padding-bottom: 140px;
    }
    .page1{
        margin-top: 80px;
        flex-direction: column;
    }
    .text1{
        position: relative;
        max-width: 100%;
        padding-right: 20px;
    }
    .text1 h2{
        font-size: 3em;

    }
    .text1 a{
        display: inline-block;
        margin-top: 20px;
        padding: 8px 15px;
    }
    .box1{
        width: 100%;
        padding-right: 0;
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }
    .box1 img{
        max-width: 150px;
    }
    .click li img{
        max-width: 30px;
    }
        }
        
      

        .detail2{
            position: relative;
            width: 100%;
            min-height: 100vh;
            padding: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(176, 177, 178);
            
        
        }
        .page2{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .text2{
            position: relative;
            font-weight: 900;
            max-width: 600px;
        
        }
        .text2 h2{
            color: rgb(14, 9, 9);
            font-size: 3em;
            line-height: 1.5em;
            font-weight: 900;
            
            
        }
        .text2 h2 span{
            font-size: 1.5em;
        }
        .text2 p{
            color:rgb(31, 25, 25);
        }
        .text2 a{
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background: #fff;
        color:#111;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        
        }
        
        .box2{
           width: 600px;
           display: flex;
           padding-right: 50px;
           margin-top: 50px;
           justify-content: flex-end;
        
        
        }
        .box2 img{
            max-width: 300px;
        
        }
        .click2{
            position:absolute;
            left: 50%;
            bottom:20px;
            transform:translateX(-50%) ;
            display: flex;
        }
        .click2 li{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;
            transition: 0.5s;
        }
        .click2 li:hover{
            transform: translateY(-15px);
        
        }
        
        .click2 li img{
            max-width: 100px;
        }
 @media(max-width:850px){
   
  .detail2{
      padding: 40px;
     padding-bottom: 140px;
         }
.page2{
    margin-top: 80px;
         flex-direction: column;
            }
            .text2{
                position: relative;
                max-width: 100%;
                padding-right: 20px;
            }
            .text2 h2{
                font-size: 3em;
        
            }
            .text2 a{
                display: inline-block;
                margin-top: 20px;
                padding: 8px 15px;
            }
            .box2{
                width: 100%;
                padding-right: 0;
                display: flex;
                justify-content: center;
                margin-top: 50px;
        
            }
            .box2 img{
                max-width: 150px;
            }
            .click2 li img{
                max-width: 30px;
            }
                }
                .detail3{
                    position: relative;
                    width: 100%;
                    min-height: 100vh;
                    padding: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(173, 198, 220);
                    
                
                }
                .page3{
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .text3{
                    position: relative;
                    font-weight: 900;
                    max-width: 600px;
                
                }
                .text3 h2{
                    color: rgb(14, 9, 9);
                    font-size: 3em;
                    line-height: 1.5em;
                    font-weight: 900;
                    
                    
                }
                .text3 h2 span{
                    font-size: 1.5em;
                }
                .text3 p{
                    color:rgb(31, 25, 25);
                }
                .text3 a{
                display: inline-block;
                margin-top: 20px;
                padding: 8px 20px;
                background: #fff;
                color:#111;
                border-radius: 40px;
                font-weight: 500;
                letter-spacing: 1px;
                text-decoration: none;
                
                }
                
                .box3{
                   width: 600px;
                   display: flex;
                   padding-right: 50px;
                   margin-top: 50px;
                   justify-content: flex-end;
                
                
                }
                .box3 img{
                    max-width: 300px;
                
                }
                .click3{
                    position:absolute;
                    left: 50%;
                    bottom:20px;
                    transform:translateX(-50%) ;
                    display: flex;
                }
                .click3 li{
                    list-style: none;
                    display: inline-block;
                    margin: 0 20px;
                    cursor: pointer;
                    transition: 0.5s;
                }
                .click3 li:hover{
                    transform: translateY(-15px);
                
                }
                
                .click3 li img{
                    max-width: 100px;
                }
         @media(max-width:850px){
           
          .detail3{
              padding: 40px;
             padding-bottom: 140px;
                 }
        .page3{
            margin-top: 80px;
                 flex-direction: column;
                    }
                    .text3{
                        position: relative;
                        max-width: 100%;
                        padding-right: 20px;
                    }
                    .tex32 h2{
                        font-size: 3em;
                
                    }
                    .text3 a{
                        display: inline-block;
                        margin-top: 20px;
                        padding: 8px 15px;
                    }
                    .box3{
                        width: 100%;
                        padding-right: 0;
                        display: flex;
                        justify-content: center;
                        margin-top: 50px;
                
                    }
                    .box3 img{
                        max-width: 150px;
                    }
                    .click3 li img{
                        max-width: 30px;
                    }
                        }               
                
              
        

