*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    

}
html{
    scroll-behavior: smooth;
}


ul{
    list-style: none;
}
.links{
    display: flex;
    align-items: center;


}
.t2{
    font-family:sans-serif;
   font-size: larger;
  
}
.t3{
    font-family:sans-serif;
   font-size: larger;
  
}
.t4{
    font-family:sans-serif;
   font-size: larger;
  
}

.t1:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;

}
.t2:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
    cursor: pointer;
}
.t3:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}
.t4:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}
.t5:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}

.t6:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}
.t7:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
    cursor: pointer;
}




.links li{
    margin: 0 40px;
  

}
a{
    text-decoration: none;
}
.navigation{
    position: fixed;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: whitesmoke;

}
header{
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.head{
    margin-bottom: 100px;
    color: rgb(145, 135, 135);
    text-align: center;
    
}
.head h2{
    font-size: 4vmin;
    color:rgb(168, 159, 159);
   
}
.line{
    width: 1180px;
    height: 4px;
    background: rgb(145, 135, 135);
    margin: 20px auto;
    border-radius: 5px;
}
.head h1{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: rgb(17, 15, 15);
}
.ctn{
    padding: 8px 15px;
    background: rgb(145, 135, 135);
    border-radius: 30px;
    color: rgb(248, 239, 239);
    
}
.ctn1{
    padding: 20px 20px;
    background: rgb(145, 135, 135);
    border-radius: 30px;
    color: rgb(1, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.learn{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
    padding: 8rem;
    
}
.learn .about{
width: 100%;
}

.learn .about h2{
color:#212529;
font-size: 5rem;
padding-bottom: 5rem;

}
.learn .about p{
    color: #7f8c8d;
    font-size:2rem;
  
    }
    .card0{
        width: 280px;
        height: 325px;
        display: inline-block;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-position:center();
        background-size: cover;
        transition: transform 0.5s;
        font-size: larger;
    
      
        
    }
    .card1{
       
        background-image: url(https://i.pinimg.com/originals/cc/4a/62/cc4a62534f5886c45a1122e668ebc25d.jpg);
    }
    .card2{
        background-image: url(https://i.pinimg.com/236x/47/0a/ce/470acea0d9ef7e5a73201a8238e8c3f3.jpg);
    }
    .card3{
        background-image: url(https://i.pinimg.com/474x/be/2e/07/be2e07f7ed7f13431ddb05d79ebff0f0.jpg);
    }
    .card0:hover{
        transform: translateY(-20px);
    }
    
    
    .cards{
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
    padding: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    


    }
    .cards h2{
        color:rgb(145,135,135);
    }
    .cards p{
        color:rgb(145,135,135);
    }

   .cards h1{
    font-size: 6vmin;
    color:rgb(168, 159, 159);
    text-align: center;

    }
    .apple{
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
        padding: 8rem;
        
        
    }
   
    .about1{
    width: 100%;
    }
    
    .about1 h1{
    color:#212529;
    font-size: 5rem;
    padding-bottom: 5rem;
    
    }
   .about1 p{
        color: #7f8c8d;
        font-size:2rem;
      
        }
.Samsung{
       background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
        padding: 8rem;       
  }
       
    .about2{
        width: 100%;
       }
        
    .about2 h1{
        color:#212529;
        font-size: 5rem;
        padding-bottom: 5rem;
        
     }
    .about2 p{
            color: #7f8c8d;
            font-size:2rem;
          
         }       
@media only screen and (max-width:850px) {
    .navigation{
        padding: 0;
    }
    
    
    .links{
        flex-direction: column;
       
        justify-content: center;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
       
    }
   
    .links li{
        margin:10px auto;
    }
   
    
}