*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
   
}
ul{
    list-style: none;
}
.links{
    display: flex;
    align-items: center;


}
.t2{
    font-family:sans-serif;
   font-size: larger;
  
}
.t3{
    font-family:sans-serif;
   font-size: larger;
  
}
.t4{
    font-family:sans-serif;
   font-size: larger;
  
}

.t1:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;

}
.t2:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
    cursor: pointer;
}
.t3:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}
.t4:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}
.t5:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}

.t6:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
}
.t7:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
    cursor: pointer;
}




.links li{
    margin: 0 40px;
  

}
a{
    text-decoration: none;
}
.navigation{
    position: fixed;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: whitesmoke;

}
header{
    width:100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.head{
    margin-bottom: 150px;
    color: rgb(145, 135, 135);
    text-align: center;
    
}
.head h2{
    font-size: 4vmin;
    color:rgb(168, 159, 159);
   
}
.line{
    width: 1180px;
    height: 4px;
    background: rgb(145, 135, 135);
    margin: 20px auto;
    border-radius: 5px;
}
.head h1{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: rgb(17, 15, 15);
}
.ctn{
    padding: 8px 15px;
    background: rgb(145, 135, 135);
    border-radius: 30px;
    color: rgb(248, 239, 239);
    
}

.Apple{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
}

@media only screen and (max-width:850px) {
    .navigation{
        padding: 0;
    }
    
    
    .links{
        flex-direction: column;
        width: 110%;
        height: 100vh;
        justify-content: center;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://phonoteka.org/uploads/posts/2021-07/1625237947_13-phonoteka-org-p-belii-mramor-s-zolotom-oboi-oboi-krasivo-15.jpg);
       
    }
   
    .links li{
        margin:10px auto;
    }
    header{
        
    }
 
    
}