*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    margin-left: 50px;
}
.navpart1{
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}

header{
    width:98.5vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://toyota-ua.com/uploads/media/dc_car_gallery/0002/48/thumb_147812_dc_car_gallery_new_slider.png.webp);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.headerpart h1{
    font-size: 50px;
    margin-top: px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: red;
    border-radius: 30px;
    color: whitesmoke;
    
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 50px;

}
.headerpart{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.headerpart h2{
    font-size: 4vmin;
}














